# App
NODE_ENV=production
FORMBRICKS_ENV=production
WEBAPP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
REDIS_URL=redis://redis:6379
LOG_LEVEL=debug

# Database
POSTGRES_DB=formbricks
POSTGRES_USER=formbricks
POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql://formbricks:change_me@db:5432/formbricks

# Formbricks secrets
NEXTAUTH_SECRET=change_me
ENCRYPTION_KEY=change_me
CRON_SECRET=change_me

# Image registry
ECR_REGISTRY=000000000000.dkr.ecr.eu-west-1.amazonaws.com
ECR_REPOSITORY=formbricks
IMAGE_TAG=latest

# Backup
S3_BACKUP_BUCKET=your-backup-bucket
S3_BACKUP_PREFIX=formbricks
AWS_REGION=eu-west-1

S3_ACCESS_KEY=YOUR_NEW_ACCESS_KEY_ID
S3_SECRET_KEY=YOUR_NEW_SECRET_ACCESS_KEY
S3_REGION=eu-west-1
S3_BUCKET_NAME=formbricks-uploads-file

#Back up